*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Global root font-- relation to REM...10px/1rem-default 16px
  ako staviš font-size na 100% to znači da će biti 16px defaultno. Ako želiš 10px podijeli defaultno 10/16 *100 za postotak!
  */
}

body {
  box-sizing: border-box;
}
